.footer{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  padding: 30px 50px;
  border-top: 2px solid #263159;
  font-family: '__Raleway_d1723a', '__Raleway_Fallback_d1723a';
  &_dark{
    border-color: aqua;
    color: #FFFBEB;
  }
}
.link_list{
  display: flex;
  justify-content: center;
  gap:30px
}
.link{
  transition: .3s;
  &:hover{
    transform: scale(1.3);
  }
}
.about{
  display: flex;
  justify-content: space-around;
  a{
    font-weight: 700;
    transition: .3s;
    &:hover{
      transform: scale(1.2);
    }
  }
}