.header{
  background: #263159;
  box-shadow: 0 0 16px 4px #495579;
  margin-bottom: 20px;
}

.nav{
  padding: 20px 50px 20px 30px;
  color: #F3EFE0;
  display: flex;
  justify-content: space-between;

  .ul{
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    list-style: none;
    align-items: center;
  }

}
.logo_wrapper{
  padding: 15px;
  border-radius: 50%;
  background: #FFFBEB;
  transition: .3s;

 &:hover{
   transform:scale(1.1) ;
 }
}
.logo{
  width: 70px;
  height: 70px;
  position: relative;
}
.button{
  font-size: inherit;
  font-weight: inherit;
  border: inherit;
  padding: 10px;
  border-radius: 10px;
  color:#263159;
  background: #FFFBEB;
  box-shadow: 0 0 5px 1px #FFFBEB;
  transition: .3s;
  &:hover{
    color: #FFFBEB;
    background: #251749;

  }
}
.link{
  color:#FFFBEB;
}
.link-active{
  border-bottom: 2px solid #FFFBEB;
}


@media(max-width:640px) {

  .nav{
    padding: 5px 20px;


    .ul{
      font-size: 18px;
      flex-wrap: wrap;
      justify-content: flex-end;
    }

  }

  .logo_wrapper{
    padding: 10px;
  }
  .logo{
    width: 35px;
    height: 35px;
  }
  .button{
    padding: 3px;
    border-radius: 4px;
  }
  .link{

  }
}

@media(max-width:420px){
  .logo_wrapper{
    padding: 10px;

  }
  .logo{
    width: 25px;
    height: 25px;
  }
  .nav{
    .ul{
      font-size: 16px;
      gap: 8px;
    }
  }
}